<h3>Input normal</h3>
<mat-form-field>
  <input matInput type="text" placeholder="Nombre"
  [(ngModel)]="persona.nombre"
  (keyup)="guardarNombre($event)">
</mat-form-field>
<pre>{{persona.nombre | json}}</pre>

<h3>Prefijo - Sufijo</h3>

<mat-form-field>
  <span matPrefix>$ &nbsp;</span>
  <span matSuffix>:)</span>
  <input matInput type="text" placeholder="Nombre 2" [value]="persona.nombre">
</mat-form-field>

<h3>Hint</h3>
<mat-form-field>
  <input type="text" placeholder="Direccion" matInput>
  <mat-hint>Dirección de entrega</mat-hint>
</mat-form-field>