<div class="card-container">
    <mat-card *ngFor="let personaje of listaPersonajes" class="card-personaje">
        <h3>Datos Estudiante</h3>
        <mat-card-header>
            <img mat-card-avatar *ngIf="personaje.fotoPerfil" [src]="personaje.fotoPerfil" alt="">
            <img mat-card-avatar *ngIf="!personaje.fotoPerfil" [src]="DEFAUL_PICTURE" alt="">
            <mat-card-title>{{personaje.nombre}}</mat-card-title>
            <mat-card-subtitle>{{personaje.fecha | date}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="personaje.fotoDestacada" alt="">
        <mat-card-content>
            <p>{{personaje.descripcion}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button color="warn">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button color="primary"><i class="material-icons">share</i></button>
            <!-- <button mat-button color="primary"> Me gusta </button>
            <button mat-button> Compartir </button> -->
        </mat-card-actions>
    </mat-card>

    <div *ngIf="!listaPersonajes && !error">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

    <mat-card *ngIf="error">
        <h3>{{error}}</h3>
    </mat-card>
</div>